<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="gefgwt" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="gefgwt.examples.feature.group" version="1.0.0.201210270855"/>
<unit id="gefgwt.feature.group" version="1.0.0.201210270855"/>
<repository location="jar:file:/home/dag/Downloads/gefgwt-1.0.0.RC0.zip!/"/>
</location>
</locations>
</target>
