<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Tempo.html</welcome-file>
  </welcome-file-list>

  <!-- Servlets -->
 <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>se.findout.tempo.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ModelRepositoryServiceImpl</servlet-name>
    <servlet-class>se.findout.tempo.server.ModelRepositoryServiceImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet>
      <servlet-name>ChannelConnectedServlet</servlet-name>
      <servlet-class>se.findout.tempo.server.ChannelConnectedServlet</servlet-class>
  </servlet>
  
    <servlet>
      <servlet-name>ChannelDisconnectedServlet</servlet-name>
      <servlet-class>se.findout.tempo.server.ChannelDisconnectedServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/tempo/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ModelRepositoryServiceImpl</servlet-name>
    <url-pattern>/tempo/modelRepository</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ChannelConnectedServlet</servlet-name>
    <url-pattern>/_ah/channel/connected/*</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>ChannelDisconnectedServlet</servlet-name>
    <url-pattern>/_ah/channel/disconnected/*</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
</web-app>